{{!-- <h1>{{this.title}}</h1> --}}
<div class="main intro">
  <div id="pixi-bg">

  </div>
  <div class="header-sec">
    <h1 class="bold">
      Experiences <br>
      Matters.
    </h1>
    <p>
      Welcome to Interactive Labs. We're a full stack digital consulting studio that crafts exceptional experiences
      across all industries.
    </p>
  </div>
  <div class="content">
    <div class="content-left-bg"></div>
    <div class="container">
      <div class="content-main">
        <div class="section-heading">
          <h2 class="heading">Featured works</h2>
          <p class="sub-heading">Explore some of our latest projects.</p>
        </div>

        <div class="project-list">
          {{#each projects}}
          <div class="project-item-wrapper" id="project-item-{{@index}}">
            <div class="project-item"
              {{!-- onClick="window.location.href = '#project/vizient'" --}} data-project="{{project}}">
              <div class="project-item-banner"  style="background-color: {{background}}">
                <div style="background-image: url({{image.src}})" alt="" class="project-img"></div>
                <div class="mask-sec">
                  {{#each masks}}
                  <div class="mask"></div>
                  {{/each}}
                </div>
              </div>
              <div class="project-info">
                <p class="project-name">{{name}}</p>
                <p class="project-label grey">{{label}}</p>
                <div class="arrow-sec">
                  <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 8H00" stroke="#040404" class="line" />
                    <path d="M20 8L20 8L20 8" stroke="#040404" class="arrow" />
                  </svg>
                </div>
                <div class="info-bg-sec"></div>
              </div>
            </div>
          </div>

          {{/each}}
        </div>
      
      </div>
    </div>
  </div>

  <section class="section-services">
    <div class="services-left-bg">
      <canvas></canvas>
    </div>
    <div class="services-head">
      <div class="container">
        <div class="services-head-wrapper">
          <h2>Our Services</h2>
          <p>We offer a wide variety of services that cover the gamut of full stack development.</p>
        </div>
      </div>
    </div>
    <div class="services-list-container">
      <div class="services-list">
        {{#each services}}
          <div class="service">
            <h3 class="service-heading">
              {{{icon}}} {{{iconMobile}}} {{heading}}
            </h3>
            <p>{{description}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="clients">
    <div class="container">
      <div class="clients-half">
        <div class="section-heading">
          <h2 class="heading">Our clients</h2>
          <p class="sub-heading">Some friends we’ve made so far along the way.</p>
        </div>
        <div class="clients-list">
          <ul>
            {{#each clients}}
              <li><a href="#"><img src="{{image.src}}" alt="{{name}}" width="{{width}}"></a></li>
            {{/each}}
          </ul>
          <a href="#" class="cta">
            <span class="arrow-circle">
              <span>
                <svg class="icon icon-arrow-right"><use xlink:href="public/symbol-defs.svg#icon-arrow-right"></use></svg>
              </span>
            </span>
            Send Message
          </a>
        </div>
      </div>
      <div class="clients-half">
        <div class="testimonials testimonials--columns-divide">
          <div class="testimonials--columns">
            <ul>
              {{#each testimonials1}}
                <li class="testimonial-card">
                  <div class="testimonial-card--container">
                    <div class="testimonial-card--content">
                      <p>{{content}}</p>
                    </div>
                    <h3>{{name}}</h3>
                    <h4>{{position}}</h4>
                    <div class="links">
                      {{#each links}}
                        <a target="_blank" href="{{url}}" class="type-{{type}}">
                          <svg class="icon icon-{{type}}"><use xlink:href="public/symbol-defs.svg#icon-{{type}}"></use></svg>
                        </a>
                      {{/each}}
                    </div>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="testimonials--columns">
            <ul>
              {{#each testimonials2}}
                <li class="testimonial-card">
                  <div class="testimonial-card--container">
                    <div class="testimonial-card--content">
                      <p>{{content}}</p>
                    </div>
                    <h3>{{name}}</h3>
                    <h4>{{position}}</h4>
                    <div class="links">
                      {{#each links}}
                        <a target="_blank" href="{{url}}" class="type-{{type}}">
                          <svg class="icon icon-{{type}}"><use xlink:href="public/symbol-defs.svg#icon-{{type}}"></use></svg>
                        </a>
                      {{/each}}
                    </div>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="how-we-work">
    <div class="container">
      <div class="section-heading">
        <h2 class="heading">How we work</h2>
        <p class="sub-heading">Think and create collaboratively with passion and a singular vision</p>
      </div>
      <div class="work-feature-list">
        {{#each works}}
          <div class="work-item">
            <div class="thumb">{{{image.outerHTML}}}</div>
            <h3 class="heading">{{heading}}</h3>
            <div class="content">
              <p>
              {{content}}
              </p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>

  <section class="story">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-heading">
            <h2 class="heading">Our Story</h2>
          </div>
        </div>
        <div class="col story-content">
          <p>
            We are a group of designers, engineers, product managers and innovators with a proven track record of delivering high-quality products that delight users and exceed their needs. 
          </p>
          <p>
            Our goal is to help build great software companies by combining the Silicon Valley hustle with a business' core area of expertise to deliver quality product at break neck speed. 
          </p>
          <div class="row story-small">
            <div class="col">
              <h3>Our Leadership</h3>
              <p>Ours is a hands-on leadership team. One or more of the folks you see below will be working on your product directly. </p>
            </div>
            <div class="col">
              <p>We mean actually working, not overseeing. 
  We mean designing, coding, tracking metrics, road mapping, writing specs and leading every project our company touches. We enjoy the grind, all there is, is the grind.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="illustration">
        <img src="{{storyImage.src}}" alt="">
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row main-row">
        <div class="col col-left">
          <h2 class="footer-heading">We would love to work with you.</h2>
          <a href="#" class="cta">
            <span class="arrow-circle">
              <span>
                <svg class="icon icon-arrow-right"><use xlink:href="public/symbol-defs.svg#icon-arrow-right"></use></svg>
              </span>
            </span>
            Send Message
          </a>
        </div>
        <div class="col">
          <div class="row footer-info">
            <div class="col footer-col">
              <h3 class="col-heading">Contact</h3>
              <p>
                <a href="mailto:hello@interactivelabs.co">hello@interactivelabs.co</a> <br>
                <a href="tel:4158698842">415 869-8842</a>
              </p>
            </div>
            <div class="col footer-col">
              <h3 class="col-heading">Visit</h3>
              <p>
                Interactive Labs, Inc <br>
                845 Market Street Level 4 <br>
                San Francisco, CA 94108
              </p>
            </div>
            <div class="col footer-col">
              <ul class="footer-socials">
                {{#each footer.socials}}
                  <li>{{{icon}}}</li>
                {{/each}}
              </ul>
            </div>
            <div class="col footer-col">
              <h3 class="col-heading">Copyright © 2019 interactivelabs.co</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>